
body {margin:0px 0px; padding:0px; /* Need to set body margin and padding to get consistency between browsers. */
     /* text-align:center; /* Hack for IE5/Win */
font-size:12px; font-family:Arial Unicode MS;font-weight:normal;
overflow:hidden;
}

#virtualKeyboard {
    width: 100%;
    text-align: center;
    /*background-color:#7b8490;*/
    /*border-top:3px solid #000;*/
}

#keyboard{
    padding:8px;
    width:690px;
    margin: 0 auto;
    height:250;
    display:block;
    margin-top:10px;
    padding-left:60px;
    display:block;
 }
#keyboard:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

#keyboardHeader {position:relative;}
#keyboardHeader div {color:#fff; background-color:#7b8490;padding:3px; padding-left:15px; padding-right:15px; position:absolute; cursor:pointer; right:-10px; top:-40px;}
.closex {font-weight:bolder; color:#000;}

#keyboardCapitalLetter {display:none;}
#keyboardSmallLetter {display:block;}
#keyboardNumber {display:none;}
#keyboardSymbols {display:none;}

.button
{
    width:40px; height:40px;
    background-color:#fff;
    position:relative;
    float:left;
    margin-right:8px;
    margin-top:8px;
    cursor:pointer;
    font-size:1.3em;

    /*box shadow*/
    -webkit-box-shadow: 0px 1px 3px #000000;-moz-box-shadow: 0px 1px 3px #000000;box-shadow: 0px 1px 3px #000000;
    /*box radius*/
    -moz-border-radius: 5px;border-radius: 5px;
    /*gradient*/
    background: #ffffff; /* old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#154360)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* ie */
}
.buttonDown {background:none;background-color: ; -webkit-box-shadow:none;-moz-box-shadow: none;box-shadow: none;}
.button_a {margin-left:35px;}
.button_dash {margin-left:35px;}
.button_underscore {margin-left:35px;}
.button_enter {width:90px; font-size:1em; }
.button_del{width:90px; font-size:1em;}
.button_smallletter{margin-left:45px;font-size:1em;}
.button_capitalletterleft{margin-left:45px;font-size:1em;}
.button_capitalletterright{font-size:1em;}
.button_numberleft{width:100px; font-size:1em; margin-left:26px;}
.button_numberright{width:100px; font-size:1em;}
.button_space {width:300px;}
.button_symbolsleft{width:100px; font-size:1em; margin-left:26px;}
.button_symbolsright{width:100px; font-size:1em;}


.key {width:100%; height:100%; text-align:center; padding-top:3px; text-shadow: 0px 1px 1px #ffffff;filter: dropshadow(color=#ffffff, offx=0, offy=1);}
.key_del {padding-top:8px;}
.key_enter {padding-top:8px;}
.key_smallletter {padding-top:8px;}
.key_capitalletterleft {padding-top:8px;}
.key_capitalletterright {padding-top:8px;}
.key_number {padding-top:8px;}
.key_symbols {padding-top:8px;}

.button:hover {
border-color: rgba(82, 168, 236, 0.8);
outline: 0;
outline: thin dotted 9;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
}